

<div class="row">
     <div class="col-md-6">
          <div class="form-group">
              +(Increase) <input type="range" max="100" value="0" (input)="incrementCounter($event)"> 
          </div>
         

          </div>
          <div class="col-md-6">
<div class="form-group text-right">
    -(Decrease) <input type="range"  min="0" max="100"  value="{{ this.inputdecrecevalue}}" (input)="decrementCounter($event)"  id="">
</div>
     </div>
</div>
          <!-- <input type="range"  #ramSelector name="ram" type="range" min="0" max="100" value="0"  [(ngModel)]="mymodel"  (ngModelChange)=""> -->
     
  
   
    
