.butStyle {
  display: flex;
  justify-content: space-between;
  height: 10%;
  padding: 12px;
  width: 20%;
  position: absolute;
  bottom: 200px;
  left: 10%;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: red;
}

.container {
  margin: 0 auto;
  width: 750px;
  height: 100vh;
  background-color: #f5f5f5;
}
